<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shopbird</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills">
            <li><a href="/">Home</a></li>
          </ul>
        </nav>
      </header>

      <% flash_info = get_flash(@conn, :info)%>
      <%= if flash_info do %>
        <p class="alert alert-info" role="alert"><%= flash_info %></p>
      <% end %>
      <% flash_error = get_flash(@conn, :error)%>
      <%= if flash_error do %>
        <p class="alert alert-danger" role="alert"><%= flash_error %></p>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
